aiohttp
async-timeout
attrs    
autopep8     
boto       
certifi 
cffi        
chardet      
discord.py
dnspython
ffmpeg-python
future
idna
multidict
public
pycodestyle
pycparser
pymongo
PyNaCl
query-string
requests
six
toml
urllib3
websockets
yarl
youtube-dl